<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/app.css" rel="stylesheet">
    <link href="../static/css/bootstrap-suggest.css" rel="stylesheet">
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap-suggest.js"></script>
    <script src="../static/js/app.js"></script>


    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300|Open+Sans:300|Oxygen|Material+Icons" rel="stylesheet">
</head>

<body>
    <div>
    <div class="d-flex flex-column align-items-center">
        <h4>Type something...</h4>
        <input class="w-75 p-2" type="text txt_input" id="input_text" list="next_world_suggestion" placeholder="Enter Here" />
        <datalist class="w-75 p-2" id="next_world_suggestion"></datalist>
    </div>
</body>

</html>